*{
    box-sizing: border-box;
}
.container{
    width: 1000px;
    margin: auto;
    background-color: yellow;
}
.row{
    display: inline-block;
    font-size: 0;
}
.box span{
    color: yellow;
}
.box{
    width: cal(25%-20px);
    font-size: 15px;
    padding: 20px;
    margin: 10px 0;
    color: white;
}
.boxA{
    background-color: teal;

}
.boxB{
    background-color: aqua;
}